<div [class]="cx('filter')">
  @if (display() === 'row') {
    <h-columnFilterFormElement
      class="p-fluid"
      [type]="type()"
      [field]="field()"
      [ariaLabel]="ariaLabel()"
      [filterConstraint]="dataTable.filters[field()]"
      [filterTemplate]="filterTemplate() || _filterTemplate"
      [placeholder]="placeholder()"
      [minFractionDigits]="minFractionDigits()"
      [maxFractionDigits]="maxFractionDigits()"
      [prefix]="prefix()"
      [suffix]="suffix()"
      [locale]="locale()"
      [localeMatcher]="localeMatcher()"
      [currency]="currency()"
      [currencyDisplay]="currencyDisplay()"
      [useGrouping]="useGrouping()"
      [showButtons]="showButtons()"
      [filterOn]="filterOn()"
      [pt]="pt()"
      [unstyled]="unstyled()"
    ></h-columnFilterFormElement>
  }
  @if (showMenuButton) {
    <h-button
      [styleClass]="cx('pcColumnFilterButton')"
      [pt]="ptm('pcColumnFilterButton')"
      [attr.aria-haspopup]="true"
      [ariaLabel]="filterMenuButtonAriaLabel"
      [attr.aria-controls]="overlayVisible ? overlayId : null"
      [attr.aria-expanded]="overlayVisible ?? false"
      (click)="toggleMenu($event)"
      (keydown)="onToggleButtonKeyDown($event)"
      [buttonProps]="$safeNavigationMigration(filterButtonProps()?.filter)"
      #menuButton
      [unstyled]="unstyled()"
      >
      <ng-template #icon>
        <ng-container>
          @if (!filterIconTemplate() && !_filterIconTemplate && !hasFilter) {
            <svg data-p-icon="filter" [hBind]="ptm('pcColumnFilterButton')['icon']" />
          }
          @if (!filterIconTemplate() && !_filterIconTemplate && hasFilter) {
            <svg data-p-icon="filter-fill" [hBind]="ptm('pcColumnFilterButton')['icon']" />
          }
          @if (filterIconTemplate() || _filterIconTemplate) {
            <span [hBind]="ptm('pcColumnFilterButton')['icon']" [attr.data-pc-section]="'columnfilterbuttonicon'">
              <ng-template *ngTemplateOutlet="filterIconTemplate() || _filterIconTemplate; context: { hasFilter: hasFilter }"></ng-template>
            </span>
          }
        </ng-container>
      </ng-template>
    </h-button>
  }
  @if (renderOverlay()) {
    <div
      [hMotion]="showMenu() && overlayVisible"
      [pMotionAppear]="true"
      pMotionName="p-anchored-overlay"
      (pMotionOnBeforeEnter)="onOverlayBeforeEnter($event)"
      (pMotionOnAfterLeave)="onOverlayAnimationAfterLeave($event)"
      [pMotionOptions]="computedMotionOptions()"
      [class]="cx('filterOverlay')"
      [hBind]="ptm('filterOverlay')"
      [id]="overlayId"
      [attr.aria-modal]="true"
      role="dialog"
      (click)="onContentClick()"
      (keydown.escape)="onEscape()"
      >
      <ng-container *ngTemplateOutlet="headerTemplate() || _headerTemplate; context: { $implicit: field() }"></ng-container>
      @if (display() === 'row') {
        <ul [class]="cx('filterConstraintList')" [hBind]="ptm('filterConstraintList')">
          @for (matchMode of matchModes; track matchMode; let i = $index) {
            <li
              (click)="onRowMatchModeChange(matchMode.value)"
              (keydown)="onRowMatchModeKeyDown($event)"
              (keydown.enter)="onRowMatchModeChange(matchMode.value)"
              [class]="cx('filterConstraint')"
              [hBind]="ptm('filterConstraint', ptmFilterConstraintOptions(matchMode))"
              [class.p-datatable-filter-constraint-selected]="isRowMatchModeSelected(matchMode.value)"
              [attr.tabindex]="i === 0 ? '0' : null"
              >
              {{ matchMode.label }}
            </li>
          }
          <li [class]="cx('filterConstraintSeparator')" [hBind]="ptm('filterConstraintSeparator', { context: { index: i } })"></li>
          <li [class]="cx('filterConstraint')" [hBind]="ptm('emtpyFilterLabel')" (click)="onRowClearItemClick()" (keydown)="onRowMatchModeKeyDown($event)" (keydown.enter)="onRowClearItemClick()">
            {{ noFilterLabel }}
          </li>
        </ul>
      } @else {
        @if (isShowOperator) {
          <div [class]="cx('filterOperator')" [hBind]="ptm('filterOperator')">
            <h-select [options]="operatorOptions" [pt]="ptm('pcFilterOperatorDropdown')" [ngModel]="operator" (ngModelChange)="onOperatorChange($event)" [styleClass]="cx('pcFilterOperatorDropdown')" [unstyled]="unstyled()"></h-select>
          </div>
        }
        <div [class]="cx('filterRuleList')" [hBind]="ptm('filterRuleList')">
          @for (fieldConstraint of fieldConstraints; track fieldConstraint; let i = $index) {
            <div [ngClass]="cx('filterRule')" [hBind]="ptm('filterRule')">
              @if (showMatchModes() && matchModes) {
                <h-select
                  [options]="matchModes"
                  [ngModel]="fieldConstraint.matchMode"
                  (ngModelChange)="onMenuMatchModeChange($event, fieldConstraint)"
                  [styleClass]="cx('pcFilterConstraintDropdown')"
                  [pt]="ptm('pcFilterConstraintDropdown')"
                  [unstyled]="unstyled()"
                ></h-select>
              }
              <h-columnFilterFormElement
                [type]="type()"
                [field]="field()"
                [filterConstraint]="fieldConstraint"
                [filterTemplate]="filterTemplate() || _filterTemplate"
                [placeholder]="placeholder()"
                [minFractionDigits]="minFractionDigits()"
                [maxFractionDigits]="maxFractionDigits()"
                [prefix]="prefix()"
                [suffix]="suffix()"
                [locale]="locale()"
                [localeMatcher]="localeMatcher()"
                [currency]="currency()"
                [currencyDisplay]="currencyDisplay()"
                [useGrouping]="useGrouping()"
                [filterOn]="filterOn()"
                [pt]="pt()"
                [unstyled]="unstyled()"
              ></h-columnFilterFormElement>
              <div>
                @if (showRemoveIcon) {
                  <h-button
                    [styleClass]="cx('pcFilterRemoveRuleButton')"
                    [pt]="ptm('pcFilterRemoveRuleButton')"
                    [text]="true"
                    severity="danger"
                    size="small"
                    (onClick)="removeConstraint(fieldConstraint)"
                    [ariaLabel]="removeRuleButtonLabel"
                    [label]="removeRuleButtonLabel"
                    [buttonProps]="$safeNavigationMigration(filterButtonProps()?.popover?.removeRule)"
                    [unstyled]="unstyled()"
                    >
                    <ng-template #icon>
                      @if (!removeRuleIconTemplate() && !_removeRuleIconTemplate) {
                        <svg data-p-icon="trash" [hBind]="ptm('pcFilterRemoveRuleButton')['icon']" />
                      }
                      <ng-template *ngTemplateOutlet="removeRuleIconTemplate() || _removeRuleIconTemplate"></ng-template>
                    </ng-template>
                  </h-button>
                }
              </div>
            </div>
          }
        </div>
        @if (isShowAddConstraint) {
          <h-button
            type="button"
            [pt]="ptm('pcAddRuleButtonLabel')"
            [label]="addRuleButtonLabel"
            [attr.aria-label]="addRuleButtonLabel"
            [styleClass]="cx('pcFilterAddRuleButton')"
            [text]="true"
            size="small"
            (onClick)="addConstraint()"
            [buttonProps]="$safeNavigationMigration(filterButtonProps()?.popover?.addRule)"
            [unstyled]="unstyled()"
            >
            <ng-template #icon>
              @if (!addRuleIconTemplate() && !_addRuleIconTemplate) {
                <svg data-p-icon="plus" [hBind]="ptm('pcAddRuleButtonLabel')['icon']" />
              }
              <ng-template *ngTemplateOutlet="addRuleIconTemplate() || _addRuleIconTemplate"></ng-template>
            </ng-template>
          </h-button>
        }
        <div [class]="cx('filterButtonbar')" [hBind]="ptm('filterButtonBar')">
          @if (showClearButton()) {
            <h-button
              #clearBtn
              [outlined]="true"
              (onClick)="clearFilter()"
              [attr.aria-label]="clearButtonLabel"
              [label]="clearButtonLabel"
              [buttonProps]="$safeNavigationMigration(filterButtonProps()?.popover?.clear)"
              [pt]="ptm('pcFilterClearButton')"
              [unstyled]="unstyled()"
              />
          }
          @if (showApplyButton()) {
            <h-button
              (onClick)="applyFilter()"
              size="small"
              [label]="applyButtonLabel"
              [attr.aria-label]="applyButtonLabel"
              [buttonProps]="$safeNavigationMigration(filterButtonProps()?.popover?.apply)"
              [pt]="ptm('pcFilterApplyButton')"
              [unstyled]="unstyled()"
              />
          }
        </div>
      }
      <ng-container *ngTemplateOutlet="footerTemplate() || _footerTemplate(); context: { $implicit: field() }"></ng-container>
    </div>
  }
</div>
