@gravion:registry=https://npm.pkg.github.com
shamefully-hoist=true
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=lmdb
onlyBuiltDependencies[]=msgpackr-extract
