@if (!multiple) {
  <input
    #focusInput
    [hAutoFocus]="autofocus"
    hInputText
    [pt]="ptm('pcInputText')"
    [class]="cn(cx('pcInputText'), inputStyleClass)"
    [ngStyle]="inputStyle"
    [attr.type]="type"
    [attr.value]="inputValue()"
    [variant]="$variant()"
    [invalid]="invalid()"
    [attr.id]="inputId"
    [attr.autocomplete]="autocomplete"
    aria-autocomplete="list"
    role="combobox"
    [attr.placeholder]="placeholder"
    [attr.name]="name()"
    [attr.minlength]="minlength()"
    [pSize]="size()"
    [attr.min]="min()"
    [attr.max]="max()"
    [attr.pattern]="pattern()"
    [attr.size]="inputSize()"
    [attr.maxlength]="maxlength()"
    [attr.tabindex]="!$disabled() ? tabindex : -1"
    [attr.required]="required() ? '' : undefined"
    [attr.readonly]="readonly ? '' : undefined"
    [attr.disabled]="$disabled() ? '' : undefined"
    [attr.aria-label]="ariaLabel"
    [attr.aria-labelledby]="ariaLabelledBy"
    [attr.aria-required]="required()"
    [attr.aria-expanded]="overlayVisible ?? false"
    [attr.aria-controls]="overlayVisible ? id + '_list' : null"
    [attr.aria-activedescendant]="focused ? focusedOptionId : undefined"
    (input)="onInput($event)"
    (keydown)="onKeyDown($event)"
    (change)="onInputChange($event)"
    (focus)="onInputFocus($event)"
    (blur)="onInputBlur($event)"
    (paste)="onInputPaste($event)"
    (keyup)="onInputKeyUp($event)"
    [fluid]="hasFluid"
    [pInputTextUnstyled]="unstyled()"
    />
}
@if ($filled() && !$disabled() && showClear && !loading) {
  @if (!clearIconTemplate && !_clearIconTemplate) {
    <svg data-p-icon="times" [hBind]="ptm('clearIcon')" [class]="cx('clearIcon')" (click)="clear()" [attr.aria-hidden]="true" />
  }
  @if (clearIconTemplate || _clearIconTemplate) {
    <span [hBind]="ptm('clearIcon')" [class]="cx('clearIcon')" (click)="clear()" [attr.aria-hidden]="true">
      <ng-template *ngTemplateOutlet="clearIconTemplate || _clearIconTemplate"></ng-template>
    </span>
  }
}

@if (multiple) {
  <ul
    #multiContainer
    [hBind]="ptm('inputMultiple')"
    [class]="cx('inputMultiple')"
    [attr.data-p]="inputMultipleDataP"
    [tabindex]="-1"
    role="listbox"
    [attr.aria-orientation]="'horizontal'"
    [attr.aria-activedescendant]="focused ? focusedMultipleOptionId : undefined"
    (focus)="onMultipleContainerFocus($event)"
    (blur)="onMultipleContainerBlur($event)"
    (keydown)="onMultipleContainerKeyDown($event)"
    >
    @for (option of modelValue(); track option; let i = $index) {
      <li
        #token
        [hBind]="ptm('chipItem')"
        [class]="cx('chipItem', { i })"
        [attr.id]="id + '_multiple_option_' + i"
        role="option"
        [attr.aria-label]="getOptionLabel(option)"
        [attr.aria-setsize]="modelValue().length"
        [attr.aria-posinset]="i + 1"
        [attr.aria-selected]="true"
        >
        <h-chip
          [pt]="ptm('pcChip')"
          [class]="cx('pcChip')"
          [label]="!selectedItemTemplate && !_selectedItemTemplate && getOptionLabel(option)"
          [disabled]="$disabled()"
          [removable]="true"
          (onRemove)="!readonly ? removeOption($event, i) : ''"
          [unstyled]="unstyled()"
          >
          <ng-container *ngTemplateOutlet="selectedItemTemplate || _selectedItemTemplate; context: { $implicit: option }"></ng-container>
          <ng-template #removeicon>
            @if (!removeIconTemplate && !_removeIconTemplate) {
              <span [hBind]="ptm('chipIcon')" [class]="cx('chipIcon')" (click)="!readonly && !$disabled() ? removeOption($event, i) : ''">
                <svg data-p-icon="times-circle" [class]="cx('chipIcon')" [attr.aria-hidden]="true" />
              </span>
            }
            @if (removeIconTemplate || _removeIconTemplate) {
              <span [hBind]="ptm('chipIcon')" [attr.aria-hidden]="true">
                <ng-template *ngTemplateOutlet="removeIconTemplate || _removeIconTemplate; context: { removeCallback: removeOption.bind(this), index: i, class: cx('chipIcon') }"></ng-template>
              </span>
            }
          </ng-template>
        </h-chip>
      </li>
    }
    <li [hBind]="ptm('inputChip')" [class]="cx('inputChip')" role="option">
      <input
        #focusInput
        #multiIn
        [hAutoFocus]="autofocus"
        [hBind]="ptm('input')"
        [class]="cx('pcInputText')"
        [ngStyle]="inputStyle"
        [attr.type]="type"
        [attr.id]="inputId"
        [attr.autocomplete]="autocomplete"
        [attr.name]="name()"
        [attr.minlength]="minlength()"
        [attr.maxlength]="maxlength()"
        [attr.size]="size()"
        [attr.min]="min()"
        [attr.max]="max()"
        [attr.pattern]="pattern()"
        role="combobox"
        [attr.placeholder]="!$filled() ? placeholder : null"
        aria-autocomplete="list"
        [attr.tabindex]="!$disabled() ? tabindex : -1"
        [attr.required]="required() ? '' : undefined"
        [attr.readonly]="readonly ? '' : undefined"
        [attr.disabled]="$disabled() ? '' : undefined"
        [attr.aria-label]="ariaLabel"
        [attr.aria-labelledby]="ariaLabelledBy"
        [attr.aria-required]="required()"
        [attr.aria-expanded]="overlayVisible ?? false"
        [attr.aria-controls]="overlayVisible ? id + '_list' : null"
        [attr.aria-activedescendant]="focused ? focusedOptionId : undefined"
        (input)="onInput($event)"
        (keydown)="onKeyDown($event)"
        (change)="onInputChange($event)"
        (focus)="onInputFocus($event)"
        (blur)="onInputBlur($event)"
        (paste)="onInputPaste($event)"
        (keyup)="onInputKeyUp($event)"
        />
    </li>
  </ul>
}
@if (loading) {
  @if (!loadingIconTemplate && !_loadingIconTemplate) {
    <svg data-p-icon="spinner" [hBind]="ptm('loader')" [class]="cx('loader')" [spin]="true" [attr.aria-hidden]="true" />
  }
  @if (loadingIconTemplate || _loadingIconTemplate) {
    <span [hBind]="ptm('loader')" [class]="cx('loader')" [attr.aria-hidden]="true">
      <ng-template *ngTemplateOutlet="loadingIconTemplate || _loadingIconTemplate"></ng-template>
    </span>
  }
}
@if (dropdown) {
  <button #ddBtn type="button" [hBind]="ptm('dropdown')" [attr.aria-label]="dropdownAriaLabel" [class]="cx('dropdown')" [disabled]="$disabled()" hRipple (click)="handleDropdownClick($event)" [attr.tabindex]="tabindex">
    @if (dropdownIcon) {
      <span [ngClass]="dropdownIcon" [attr.aria-hidden]="true"></span>
    }
    @if (!dropdownIcon) {
      @if (!dropdownIconTemplate && !_dropdownIconTemplate) {
        <svg data-p-icon="chevron-down" [hBind]="ptm('dropdown')" />
      }
      <ng-template *ngTemplateOutlet="dropdownIconTemplate || _dropdownIconTemplate"></ng-template>
    }
  </button>
}
<h-overlay
  #overlay
  [hostAttrSelector]="$attrSelector"
  [(visible)]="overlayVisible"
  [options]="overlayOptions"
  [target]="'@parent'"
  [appendTo]="$appendTo()"
  [unstyled]="unstyled()"
  [pt]="ptm('pcOverlay')"
  [motionOptions]="motionOptions()"
  (onBeforeEnter)="onOverlayBeforeEnter()"
  (onHide)="hide()"
  [attr.data-p]="overlayDataP"
  >
  <ng-template #content>
    <div [hBind]="ptm('overlay')" [class]="cn(cx('overlay'), panelStyleClass)" [ngStyle]="panelStyle">
      <ng-container *ngTemplateOutlet="headerTemplate || _headerTemplate"></ng-container>
      <div [hBind]="ptm('listContainer')" [class]="cx('listContainer')" [style.max-height]="virtualScroll ? 'auto' : scrollHeight" [tabindex]="-1">
        @if (virtualScroll) {
          <h-scroller
            #scroller
            [tabindex]="-1"
            [pt]="ptm('virtualScroller')"
            [items]="visibleOptions()"
            [style]="{ height: scrollHeight }"
            [itemSize]="virtualScrollItemSize"
            [autoSize]="true"
            [lazy]="lazy"
            (onLazyLoad)="onLazyLoad.emit($event)"
            [options]="virtualScrollOptions"
            >
            <ng-template #content let-items let-scrollerOptions="options">
              <ng-container *ngTemplateOutlet="buildInItems; context: { $implicit: items, options: scrollerOptions }"></ng-container>
            </ng-template>
            @if (loaderTemplate || _loaderTemplate) {
              <ng-template #loader let-scrollerOptions="options">
                <ng-container *ngTemplateOutlet="loaderTemplate || _loaderTemplate; context: { options: scrollerOptions }"></ng-container>
              </ng-template>
            }
          </h-scroller>
        }
        @if (!virtualScroll) {
          <ng-container *ngTemplateOutlet="buildInItems; context: { $implicit: visibleOptions(), options: {} }"></ng-container>
        }
      </div>

      <ng-template #buildInItems let-items let-scrollerOptions="options">
        <ul #items [hBind]="ptm('list')" [class]="cn(cx('list'), scrollerOptions.contentStyleClass)" [style]="scrollerOptions.contentStyle" role="listbox" [attr.id]="id + '_list'" [attr.aria-label]="listLabel">
          @for (option of items; track option; let i = $index) {
            @if (isOptionGroup(option)) {
              <li [hBind]="ptm('optionGroup')" [attr.id]="id + '_' + getOptionIndex(i, scrollerOptions)" [class]="cx('optionGroup')" [ngStyle]="{ height: scrollerOptions.itemSize + 'px' }" role="option">
                @if (!groupTemplate) {
                  <span>{{ getOptionGroupLabel(option.optionGroup) }}</span>
                }
                <ng-container *ngTemplateOutlet="groupTemplate; context: { $implicit: option.optionGroup }"></ng-container>
              </li>
            }
            @if (!isOptionGroup(option)) {
              <li
                hRipple
                [hBind]="getPTOptions(option, scrollerOptions, i, 'option')"
                [ngStyle]="{ height: scrollerOptions.itemSize + 'px' }"
                [class]="cx('option', { option, i, scrollerOptions })"
                [attr.id]="id + '_' + getOptionIndex(i, scrollerOptions)"
                role="option"
                [attr.aria-label]="getOptionLabel(option)"
                [attr.aria-selected]="isSelected(option)"
                [attr.data-p-selected]="isSelected(option)"
                [attr.aria-disabled]="isOptionDisabled(option)"
                [attr.data-p-focused]="focusedOptionIndex() === getOptionIndex(i, scrollerOptions)"
                [attr.aria-setsize]="ariaSetSize"
                [attr.aria-posinset]="getAriaPosInset(getOptionIndex(i, scrollerOptions))"
                (click)="onOptionSelect($event, option)"
                (mouseenter)="onOptionMouseEnter($event, getOptionIndex(i, scrollerOptions))"
                >
                @if (!itemTemplate && !_itemTemplate) {
                  <span>{{ getOptionLabel(option) }}</span>
                }
                <ng-container
                                    *ngTemplateOutlet="
                                        itemTemplate || _itemTemplate;
                                        context: {
                                            $implicit: option,
                                            index: scrollerOptions.getOptions ? scrollerOptions.getOptions(i) : i
                                        }
                                    "
              ></ng-container>
            </li>
          }
        }
        @if (!items || (items && items.length === 0 && showEmptyMessage)) {
          <li [hBind]="ptm('emptyMessage')" [class]="cx('emptyMessage')" [ngStyle]="{ height: scrollerOptions.itemSize + 'px' }" role="option">
            @if (!emptyTemplate && !_emptyTemplate) {
              {{ searchResultMessageText }}
            } @else {
              <ng-template [ngTemplateOutlet]="empty"></ng-template>
            }
            <ng-container #empty *ngTemplateOutlet="emptyTemplate || _emptyTemplate"></ng-container>
          </li>
        }
      </ul>
    </ng-template>
    <ng-container *ngTemplateOutlet="footerTemplate || _footerTemplate"></ng-container>
  </div>
  <span role="status" aria-live="polite" class="p-hidden-accessible">
    {{ selectedMessageText }}
  </span>
</ng-template>
</h-overlay>
