@if (welcomeMessage) {
  <div [class]="cx('welcomeMessage')" [hBind]="ptm('welcomeMessage')">{{ welcomeMessage }}</div>
}
<div [class]="cx('commandList')" [hBind]="ptm('commandList')">
  @for (command of commands; track command) {
    <div [class]="cx('command')" [hBind]="ptm('command')">
      <span [class]="cx('promptLabel')" [hBind]="ptm('promptLabel')">{{ prompt() }}</span>
      <span [class]="cx('commandValue')" [hBind]="ptm('commandValue')">{{ command.text }}</span>
      <div [class]="cx('commandResponse')" [hBind]="ptm('commandResponse')" [attr.aria-live]="'polite'">{{ command.response }}</div>
    </div>
  }
</div>
<div [class]="cx('prompt')" [hBind]="ptm('prompt')">
  <span [class]="cx('promptLabel')" [hBind]="ptm('promptLabel')">{{ prompt() }}</span>
  <input #in type="text" [(ngModel)]="command" [class]="cx('promptValue')" [hBind]="ptm('promptValue')" autocomplete="off" (keydown)="handleCommand($event)" autofocus />
</div>
