<ng-content></ng-content>
@if (startTemplate() || _startTemplate) {
  <div [class]="cx('start')" [hBind]="ptm('start')">
    <ng-container *ngTemplateOutlet="startTemplate() || _startTemplate"></ng-container>
  </div>
}
@if (centerTemplate() || _centerTemplate) {
  <div [class]="cx('center')" [hBind]="ptm('center')">
    <ng-container *ngTemplateOutlet="centerTemplate() || _centerTemplate"></ng-container>
  </div>
}
@if (endTemplate() || _endTemplate) {
  <div [class]="cx('end')" [hBind]="ptm('end')">
    <ng-container *ngTemplateOutlet="endTemplate() || _endTemplate"></ng-container>
  </div>
}
