<li
  [id]="id()"
  [hBind]="getPTOptions()"
  (click)="onOptionClick($event)"
  (mouseenter)="onOptionMouseEnter($event)"
  role="option"
  hRipple
  [attr.aria-label]="label()"
  [attr.aria-setsize]="ariaSetSize()"
  [attr.aria-posinset]="ariaPosInset()"
  [attr.aria-selected]="selected()"
  [attr.data-h-focused]="focused()"
  [attr.data-h-highlight]="selected()"
  [attr.data-h-selected]="selected()"
  [attr.data-h-disabled]="disabled()"
  [ngStyle]="{ height: $safeNavigationMigration(scrollerOptions()?.itemSize) + 'px' }"
  [class]="cx('option')"
  >
  @if (checkmark()) {
    @if (selected()) {
      <svg data-h-icon="check" [class]="cx('optionCheckIcon')" [hBind]="$safeNavigationMigration($pcSelect?.ptm('optionCheckIcon'))" />
    }
    @if (!selected()) {
      <svg data-h-icon="blank" [class]="cx('optionBlankIcon')" [hBind]="$safeNavigationMigration($pcSelect?.ptm('optionBlankIcon'))" />
    }
  }
  @if (!template()) {
    <span [hBind]="$safeNavigationMigration($pcSelect?.ptm('optionLabel'))">{{ label() ?? 'empty' }}</span>
  }
  <ng-container *ngTemplateOutlet="template(); context: { $implicit: option() }"></ng-container>
</li>
