<h-tabs [value]="activeTab()" (valueChange)="activeTab.set($any($event))" scrollable>
  <h-tablist>
    <h-tab value="demo">Demo</h-tab>
    @for (tab of tabs(); track tab.file) {
      <h-tab [value]="tab.file">{{ tab.label }}</h-tab>
    }
    <h-tab value="docs">Docs</h-tab>
  </h-tablist>
  <h-tabpanels>
    <h-tabpanel value="demo">
      <ng-content />
    </h-tabpanel>
    @for (tab of tabs(); track tab.file) {
      <h-tabpanel [value]="tab.file">
        <pre class="source-tabs__code"><code [highlight]="source(tab.file)" [language]="tab.language"></code></pre>
      </h-tabpanel>
    }
    <h-tabpanel value="docs">
      <p class="text-sm text-muted-color">Documentation coming soon.</p>
    </h-tabpanel>
  </h-tabpanels>
</h-tabs>
