<li
  [id]="id"
  [hBind]="getPTOptions()"
  (click)="onOptionClick($event)"
  (mouseenter)="onOptionMouseEnter($event)"
  role="option"
  hRipple
  [attr.aria-label]="label"
  [attr.aria-setsize]="ariaSetSize"
  [attr.aria-posinset]="ariaPosInset"
  [attr.aria-selected]="selected"
  [attr.data-p-focused]="focused"
  [attr.data-p-highlight]="selected"
  [attr.data-p-selected]="selected"
  [attr.data-p-disabled]="disabled"
  [ngStyle]="{ height: $safeNavigationMigration(scrollerOptions?.itemSize) + 'px' }"
  [class]="cx('option')"
  >
  @if (checkmark) {
    @if (selected) {
      <svg data-p-icon="check" [class]="cx('optionCheckIcon')" [hBind]="$safeNavigationMigration($pcSelect?.ptm('optionCheckIcon'))" />
    }
    @if (!selected) {
      <svg data-p-icon="blank" [class]="cx('optionBlankIcon')" [hBind]="$safeNavigationMigration($pcSelect?.ptm('optionBlankIcon'))" />
    }
  }
  @if (!template) {
    <span [hBind]="$safeNavigationMigration($pcSelect?.ptm('optionLabel'))">{{ label ?? 'empty' }}</span>
  }
  <ng-container *ngTemplateOutlet="template; context: { $implicit: option }"></ng-container>
</li>
