@if (!editable()) {
  <span
    #focusInput
    [class]="cx('label')"
    [hBind]="ptm('label')"
    [hTooltip]="tooltip()"
    [pTooltipUnstyled]="unstyled()"
    [tooltipPosition]="tooltipPosition()"
    [positionStyle]="tooltipPositionStyle()"
    [tooltipStyleClass]="tooltipStyleClass()"
    [attr.aria-disabled]="$disabled()"
    [attr.id]="inputId()"
    role="combobox"
    [attr.aria-label]="ariaLabel() || (label() === 'p-emptylabel' ? undefined : label())"
    [attr.aria-labelledby]="ariaLabelledBy()"
    [attr.aria-haspopup]="'listbox'"
    [attr.aria-expanded]="overlayVisible ?? false"
    [attr.aria-controls]="overlayVisible ? $id() + '_list' : null"
    [attr.tabindex]="!$disabled() ? tabindex() : -1"
    [hAutoFocus]="autofocus()"
    [attr.aria-activedescendant]="focused ? focusedOptionId : undefined"
    (focus)="onInputFocus($event)"
    (blur)="onInputBlur($event)"
    (keydown)="onKeyDown($event)"
    [attr.aria-required]="required()"
    [attr.required]="required() ? '' : undefined"
    [attr.disabled]="$disabled() ? '' : undefined"
    [attr.data-p]="labelDataP"
    >
    @if (!selectedItemTemplate() && !_selectedItemTemplate) {
      {{ label() === 'p-emptylabel' ? '&nbsp;' : label() }}
    } @else {
      @if (isSelectedOptionEmpty()) {
        <span>{{ label() === 'p-emptylabel' ? '&nbsp;' : label() }}</span>
      }
    }
    @if ((selectedItemTemplate() || _selectedItemTemplate) && !isSelectedOptionEmpty()) {
      <ng-container [ngTemplateOutlet]="selectedItemTemplate() || _selectedItemTemplate" [ngTemplateOutletContext]="{ $implicit: selectedOption }"></ng-container>
    }
  </span>
}
@if (editable()) {
  <input
    #editableInput
    type="text"
    [attr.id]="inputId()"
    [class]="cx('label')"
    [hBind]="ptm('label')"
    [attr.aria-haspopup]="'listbox'"
    [attr.placeholder]="modelValue() === undefined || modelValue() === null ? $placeholder() : undefined"
    [attr.aria-label]="ariaLabel() || (label() === 'p-emptylabel' ? undefined : label())"
    (input)="onEditableInput($event)"
    (keydown)="onKeyDown($event)"
    [hAutoFocus]="autofocus()"
    [attr.aria-activedescendant]="focused ? focusedOptionId : undefined"
    (focus)="onInputFocus($event)"
    (blur)="onInputBlur($event)"
    [attr.name]="name()"
    [attr.minlength]="minlength()"
    [attr.min]="min()"
    [attr.max]="max()"
    [attr.pattern]="pattern()"
    [attr.size]="inputSize()"
    [attr.maxlength]="maxlength()"
    [attr.required]="required() ? '' : undefined"
    [attr.readonly]="readonly() ? '' : undefined"
    [attr.disabled]="$disabled() ? '' : undefined"
    [attr.data-p]="labelDataP"
    />
}
@if (isVisibleClearIcon) {
  @if (!clearIconTemplate() && !_clearIconTemplate) {
    <svg data-p-icon="times" [class]="cx('clearIcon')" [hBind]="ptm('clearIcon')" (click)="clear($event)" [attr.data-pc-section]="'clearicon'" />
  }
  @if (clearIconTemplate() || _clearIconTemplate) {
    <span [class]="cx('clearIcon')" [hBind]="ptm('clearIcon')" (click)="clear($event)" [attr.data-pc-section]="'clearicon'">
      <ng-template *ngTemplateOutlet="clearIconTemplate() || _clearIconTemplate; context: { class: cx('clearIcon') }"></ng-template>
    </span>
  }
}

<div [class]="cx('dropdown')" [hBind]="ptm('dropdown')" role="button" aria-label="dropdown trigger" aria-haspopup="listbox" [attr.aria-expanded]="overlayVisible ?? false" [attr.data-pc-section]="'trigger'">
  @if (loading()) {
    @if (loadingIconTemplate() || _loadingIconTemplate) {
      <ng-container *ngTemplateOutlet="loadingIconTemplate() || _loadingIconTemplate"></ng-container>
    }
    @if (!loadingIconTemplate() && !_loadingIconTemplate) {
      @if (loadingIcon()) {
        <span [class]="cn(cx('loadingIcon'), 'pi-spin' + loadingIcon())" [hBind]="ptm('loadingIcon')" aria-hidden="true"></span>
      }
      @if (!loadingIcon()) {
        <span [class]="cn(cx('loadingIcon'), 'pi pi-spinner pi-spin')" [hBind]="ptm('loadingIcon')" aria-hidden="true"></span>
      }
    }
  } @else {
    @if (!dropdownIconTemplate() && !_dropdownIconTemplate) {
      @if (dropdownIcon()) {
        <span [class]="cn(cx('dropdownIcon'), dropdownIcon())" [hBind]="ptm('dropdownIcon')"></span>
      }
      @if (!dropdownIcon()) {
        <svg data-p-icon="chevron-down" [class]="cx('dropdownIcon')" [hBind]="ptm('dropdownIcon')" />
      }
    }
    @if (dropdownIconTemplate() || _dropdownIconTemplate) {
      <span [class]="cx('dropdownIcon')" [hBind]="ptm('dropdownIcon')">
        <ng-template *ngTemplateOutlet="dropdownIconTemplate() || _dropdownIconTemplate; context: { class: cx('dropdownIcon') }"></ng-template>
      </span>
    }
  }

</div>

<h-overlay
  #overlay
  [hostAttrSelector]="$attrSelector"
  [(visible)]="overlayVisible"
  [options]="overlayOptions()"
  [target]="'@parent'"
  [appendTo]="$appendTo()"
  [unstyled]="unstyled()"
  [pt]="ptm('pcOverlay')"
  [motionOptions]="motionOptions()"
  (onBeforeEnter)="onOverlayBeforeEnter($event)"
  (onAfterLeave)="onOverlayAfterLeave($event)"
  (onHide)="hide()"
  >
  <ng-template #content>
    <div [class]="cn(cx('overlay'), panelStyleClass())" [ngStyle]="panelStyle()" [hBind]="ptm('overlay')" [attr.data-p]="overlayDataP">
      <span
        #firstHiddenFocusableEl
        role="presentation"
        class="p-hidden-accessible p-hidden-focusable"
        [attr.tabindex]="0"
        (focus)="onFirstHiddenFocus($event)"
        [attr.data-p-hidden-accessible]="true"
        [attr.data-p-hidden-focusable]="true"
        [hBind]="ptm('hiddenFirstFocusableEl')"
        >
      </span>
      <ng-container *ngTemplateOutlet="headerTemplate() || _headerTemplate"></ng-container>
      @if (filter()) {
        <div [class]="cx('header')" (click)="$event.stopPropagation()" [hBind]="ptm('header')">
          @if (filterTemplate() || _filterTemplate) {
            <ng-container *ngTemplateOutlet="filterTemplate() || _filterTemplate; context: { options: filterOptions }"></ng-container>
          } @else {
            <h-iconfield [pt]="ptm('pcFilterContainer')" [unstyled]="unstyled()">
              <input
                #filter
                hInputText
                [pSize]="size()"
                type="text"
                role="searchbox"
                autocomplete="off"
                [value]="_filterValue() || ''"
                [class]="cx('pcFilter')"
                [variant]="$variant()"
                [attr.placeholder]="filterPlaceholder()"
                [attr.aria-owns]="$id() + '_list'"
                (input)="onFilterInputChange($event)"
                [attr.aria-label]="ariaFilterLabel()"
                [attr.aria-activedescendant]="focusedOptionId"
                (keydown)="onFilterKeyDown($event)"
                (blur)="onFilterBlur($event)"
                [pt]="ptm('pcFilter')"
                [unstyled]="unstyled()"
                />
              <h-inputicon [pt]="ptm('pcFilterIconContainer')" [unstyled]="unstyled()">
                @if (!filterIconTemplate() && !_filterIconTemplate) {
                  <svg data-p-icon="search" [hBind]="ptm('filterIcon')" />
                }
                @if (filterIconTemplate() || _filterIconTemplate) {
                  <span [hBind]="ptm('filterIcon')">
                    <ng-template *ngTemplateOutlet="filterIconTemplate() || _filterIconTemplate"></ng-template>
                  </span>
                }
              </h-inputicon>
            </h-iconfield>
          }
        </div>
      }
      <div [class]="cx('listContainer')" [style.max-height]="virtualScroll() ? 'auto' : scrollHeight() || 'auto'" [hBind]="ptm('listContainer')">
        @if (virtualScroll()) {
          <h-scroller
            hostName="select"
            #scroller
            [items]="visibleOptions()"
            [style]="{ height: scrollHeight() }"
            [itemSize]="virtualScrollItemSize()"
            [autoSize]="true"
            [lazy]="lazy()"
            (onLazyLoad)="onLazyLoad.emit($event)"
            [options]="virtualScrollOptions()"
            [pt]="ptm('virtualScroller')"
            >
            <ng-template #content let-items let-scrollerOptions="options">
              <ng-container *ngTemplateOutlet="buildInItems; context: { $implicit: items, options: scrollerOptions }"></ng-container>
            </ng-template>
            @if (loaderTemplate() || _loaderTemplate) {
              <ng-template #loader let-scrollerOptions="options">
                <ng-container *ngTemplateOutlet="loaderTemplate() || _loaderTemplate; context: { options: scrollerOptions }"></ng-container>
              </ng-template>
            }
          </h-scroller>
        }
        @if (!virtualScroll()) {
          <ng-container *ngTemplateOutlet="buildInItems; context: { $implicit: visibleOptions(), options: {} }"></ng-container>
        }

        <ng-template #buildInItems let-items let-scrollerOptions="options">
          <ul #items [attr.id]="$id() + '_list'" [attr.aria-label]="listLabel" [class]="cn(cx('list'), scrollerOptions.contentStyleClass)" [style]="scrollerOptions.contentStyle" role="listbox" [hBind]="ptm('list')">
            @for (option of items; track option; let i = $index) {
              @if (isOptionGroup(option)) {
                <li [class]="cx('optionGroup')" [attr.id]="$id() + '_' + getOptionIndex(i, scrollerOptions)" [ngStyle]="{ height: scrollerOptions.itemSize + 'px' }" role="option" [hBind]="ptm('optionGroup')">
                  @if (!groupTemplate() && !_groupTemplate) {
                    <span [class]="cx('optionGroupLabel')" [hBind]="ptm('optionGroupLabel')">{{ getOptionGroupLabel(option.optionGroup) }}</span>
                  }
                  <ng-container *ngTemplateOutlet="groupTemplate() || _groupTemplate; context: { $implicit: option.optionGroup }"></ng-container>
                </li>
              }
              @if (!isOptionGroup(option)) {
                <h-selectItem
                  [id]="$id() + '_' + getOptionIndex(i, scrollerOptions)"
                  [option]="option"
                  [checkmark]="checkmark()"
                  [selected]="isSelected(option)"
                  [label]="getOptionLabel(option)"
                  [disabled]="isOptionDisabled(option)"
                  [template]="itemTemplate() || _itemTemplate"
                  [focused]="focusedOptionIndex() === getOptionIndex(i, scrollerOptions)"
                  [ariaPosInset]="getAriaPosInset(getOptionIndex(i, scrollerOptions))"
                  [ariaSetSize]="ariaSetSize"
                  [index]="i"
                  [unstyled]="unstyled()"
                  [scrollerOptions]="scrollerOptions"
                  (onClick)="onOptionSelect($event, option)"
                  (onMouseEnter)="onOptionMouseEnter($event, getOptionIndex(i, scrollerOptions))"
                ></h-selectItem>
              }
            }
            @if (filterValue && isEmpty()) {
              <li [class]="cx('emptyMessage')" [ngStyle]="{ height: scrollerOptions.itemSize + 'px' }" role="option" [hBind]="ptm('emptyMessage')">
                @if (!emptyFilterTemplate() && !_emptyFilterTemplate && !emptyTemplate()) {
                  {{ emptyFilterMessageLabel }}
                } @else {
                  <ng-container #emptyFilter *ngTemplateOutlet="emptyFilterTemplate() || _emptyFilterTemplate || emptyTemplate() || _emptyTemplate"></ng-container>
                }
              </li>
            }
            @if (!filterValue && isEmpty()) {
              <li [class]="cx('emptyMessage')" [ngStyle]="{ height: scrollerOptions.itemSize + 'px' }" role="option" [hBind]="ptm('emptyMessage')">
                @if (!emptyTemplate() && !_emptyTemplate) {
                  {{ emptyMessageLabel || emptyFilterMessageLabel }}
                } @else {
                  <ng-container #empty *ngTemplateOutlet="emptyTemplate() || _emptyTemplate"></ng-container>
                }
              </li>
            }
          </ul>
        </ng-template>
      </div>
      <ng-container *ngTemplateOutlet="footerTemplate() || _footerTemplate"></ng-container>
      <span
        #lastHiddenFocusableEl
        role="presentation"
        class="p-hidden-accessible p-hidden-focusable"
        [hBind]="ptm('hiddenLastFocusableEl')"
        [attr.tabindex]="0"
        (focus)="onLastHiddenFocus($event)"
        [attr.data-p-hidden-accessible]="true"
        [attr.data-p-hidden-focusable]="true"
      ></span>
    </div>
  </ng-template>
</h-overlay>
