@if (!popup() || overlayVisible) {
  <div
    #container
    [class]="cn(cx('root'), styleClass())"
    [style]="sx('root')"
    [ngStyle]="style()"
    (click)="onOverlayClick($event)"
    [attr.id]="$id()"
    [hBind]="ptm('root')"
    [attr.data-p]="dataP"
    [hMotion]="visible || !popup()"
    [pMotionName]="'p-anchored-overlay'"
    [pMotionAppear]="!!popup()"
    [pMotionDisabled]="!popup()"
    [pMotionOptions]="computedMotionOptions()"
    (pMotionOnBeforeEnter)="onOverlayBeforeEnter($event)"
    (pMotionOnAfterLeave)="onOverlayAfterLeave()"
    >
    @if (startTemplate() ?? _startTemplate) {
      <div [class]="cx('start')" [hBind]="ptm('start')" [attr.data-pc-section]="'start'">
        <ng-container *ngTemplateOutlet="startTemplate() ?? _startTemplate"></ng-container>
      </div>
    }
    <ul
      #list
      [class]="cx('list')"
      [hBind]="ptm('list')"
      role="menu"
      [attr.id]="$id() + '_list'"
      [attr.tabindex]="getTabIndexValue()"
      [attr.data-pc-section]="'menu'"
      [attr.aria-activedescendant]="activedescendant()"
      [attr.aria-label]="ariaLabel()"
      [attr.aria-labelledBy]="ariaLabelledBy()"
      (focus)="onListFocus($event)"
      (blur)="onListBlur($event)"
      (keydown)="onListKeyDown($event)"
      >
      @for (submenu of model(); track submenu; let i = $index) {
        @if (hasSubMenu()) {
          @if (submenu.separator && submenu.visible !== false) {
            <li [class]="cx('separator')" [hBind]="ptm('separator')" role="separator" [attr.data-pc-section]="'separator'"></li>
          }
          @if (!submenu.separator) {
            <li
              [class]="cx('submenuLabel')"
              [hBind]="ptm('submenuLabel')"
              [attr.data-automationid]="submenu.automationId"
              hTooltip
              [tooltipOptions]="submenu.tooltipOptions"
              [pTooltipUnstyled]="unstyled()"
              role="none"
              [attr.id]="menuitemId(submenu, id, i)"
              [attr.data-pc-section]="'submenulabel'"
              >
              @if (!submenuHeaderTemplate() && !_submenuHeaderTemplate) {
                @if (submenu.escape !== false) {
                  <span>{{ submenu.label }}</span>
                } @else {
                  <span [innerHTML]="submenu.label | safeHtml"></span>
                }
              }
              <ng-container *ngTemplateOutlet="submenuHeaderTemplate() ?? _submenuHeaderTemplate; context: { $implicit: submenu }"></ng-container>
            </li>
          }
          @for (item of submenu.items; track item; let j = $index) {
            @if (item.separator && (item.visible !== false || submenu.visible !== false)) {
              <li [class]="cx('separator')" [hBind]="ptm('separator')" role="separator" [attr.data-pc-section]="'separator'"></li>
            }
            @if (!item.separator && item.visible !== false && (item.visible !== undefined || submenu.visible !== false)) {
              <li
                [class]="cn(cx('item', { item, id: menuitemId(item, id, i, j) }), $safeNavigationMigration(item?.styleClass))"
                [hBind]="ptm('item')"
                [hMenuItemContent]="item"
                [itemTemplate()]="itemTemplate() ?? _itemTemplate"
                [idx]="j"
                [menuitemId]="menuitemId(item, id, i, j)"
                [style]="item.style"
                (onMenuItemClick)="itemClick($event, menuitemId(item, id, i, j))"
                hTooltip
                [tooltipOptions]="item.tooltipOptions"
                [pTooltipUnstyled]="unstyled()"
                [unstyled]="unstyled()"
                role="menuitem"
                [attr.aria-label]="label(item.label)"
                [attr.data-p-focused]="isItemFocused(menuitemId(item, id, i, j))"
                [attr.data-p-disabled]="disabled(item.disabled)"
                [attr.aria-disabled]="disabled(item.disabled)"
                [attr.id]="menuitemId(item, id, i, j)"
              ></li>
            }
          }
        }
      }
      @for (item of model(); track item; let i = $index) {
        @if (!hasSubMenu()) {
          @if (item.separator && item.visible !== false) {
            <li [class]="cx('separator')" [hBind]="ptm('separator')" role="separator" [attr.data-pc-section]="'separator'"></li>
          }
          @if (!item.separator && item.visible !== false) {
            <li
              [class]="cn(cx('item', { item, id: menuitemId(item, id, i) }), $safeNavigationMigration(item?.styleClass))"
              [hBind]="ptm('item')"
              [hMenuItemContent]="item"
              [itemTemplate()]="itemTemplate() ?? _itemTemplate"
              [idx]="i"
              [menuitemId]="menuitemId(item, id, i)"
              [ngStyle]="item.style"
              (onMenuItemClick)="itemClick($event, menuitemId(item, id, i))"
              hTooltip
              [tooltipOptions]="item.tooltipOptions"
              [unstyled]="unstyled()"
              [pTooltipUnstyled]="unstyled()"
              role="menuitem"
              [attr.aria-label]="label(item.label)"
              [attr.data-p-focused]="isItemFocused(menuitemId(item, id, i))"
              [attr.data-p-disabled]="disabled(item.disabled)"
              [attr.aria-disabled]="disabled(item.disabled)"
              [attr.id]="menuitemId(item, id, i)"
            ></li>
          }
        }
      }
    </ul>
    @if (endTemplate() ?? _endTemplate) {
      <div [class]="cx('end')" [hBind]="ptm('end')" [attr.data-pc-section]="'end'">
        <ng-container *ngTemplateOutlet="endTemplate() ?? _endTemplate"></ng-container>
      </div>
    }
  </div>
}
