<h-dialog
  [pt]="pt"
  #dialog
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  role="alertdialog"
  [closable]="option('closable')"
  [styleClass]="cn(cx('root'), styleClass())"
  [modal]="option('modal')"
  [header]="option('header')"
  [closeOnEscape]="option('closeOnEscape')"
  [blockScroll]="option('blockScroll')"
  [appendTo]="$appendTo()"
  [position]="position()"
  [style]="style()"
  [dismissableMask]="dismissableMask()"
  [draggable]="draggable()"
  [baseZIndex]="baseZIndex()"
  [autoZIndex]="autoZIndex()"
  [maskStyleClass]="cn(cx('mask'), maskStyleClass())"
  [unstyled]="unstyled()"
  (onHide)="onDialogHide()"
  >
  @if (headlessTemplate() || _headlessTemplate) {
    <ng-template #headless>
      <ng-container
                *ngTemplateOutlet="
                    headlessTemplate() || _headlessTemplate;
                    context: {
                        $implicit: confirmation,
                        onAccept: onAccept.bind(this),
                        onReject: onReject.bind(this)
                    }
                "
    ></ng-container>
  </ng-template>
} @else {
  @if (headerTemplate() || _headerTemplate) {
    <ng-template #header>
      <ng-container *ngTemplateOutlet="headerTemplate() || _headerTemplate"></ng-container>
    </ng-template>
  }

  <ng-template #content>
    @if (iconTemplate() || _iconTemplate) {
      <ng-template *ngTemplateOutlet="iconTemplate() || _iconTemplate"></ng-template>
    } @else if (!iconTemplate() && !_iconTemplate && !_messageTemplate && !messageTemplate()) {
      @if (option('icon')) {
        <i [ngClass]="cx('icon')" [class]="option('icon')" [hBind]="ptm('icon')"></i>
      }
    }
    @if (messageTemplate() || _messageTemplate) {
      <ng-template *ngTemplateOutlet="messageTemplate() || _messageTemplate; context: { $implicit: confirmation }"></ng-template>
    } @else {
      <span [class]="cx('message')" [hBind]="ptm('message')" [innerHTML]="option('message')"> </span>
    }
  </ng-template>
}
<ng-template #footer>
  @if (footerTemplate() || _footerTemplate) {
    <ng-content select="p-footer"></ng-content>
    <ng-container *ngTemplateOutlet="footerTemplate() || _footerTemplate"></ng-container>
  }
  @if (!footerTemplate() && !_footerTemplate) {
    @if (option('rejectVisible')) {
      <h-button
        [pt]="ptm('pcRejectButton')"
        [label]="rejectButtonLabel"
        (onClick)="onReject()"
        [styleClass]="getButtonStyleClass('pcRejectButton', 'rejectButtonStyleClass')"
        [ariaLabel]="option('rejectButtonProps', 'ariaLabel')"
        [buttonProps]="getRejectButtonProps()"
        [unstyled]="unstyled()"
        >
        <ng-template #icon>
          @if (rejectIcon() && !rejectIconTemplate() && !_rejectIconTemplate) {
            @if (option('rejectIcon')) {
              <i [class]="option('rejectIcon')" [hBind]="ptm('pcRejectButton')['icon']"></i>
            }
          }
          <ng-template *ngTemplateOutlet="rejectIconTemplate() || _rejectIconTemplate"></ng-template>
        </ng-template>
      </h-button>
    }
    @if (option('acceptVisible')) {
      <h-button
        [pt]="ptm('pcAcceptButton')"
        [label]="acceptButtonLabel"
        (onClick)="onAccept()"
        [styleClass]="getButtonStyleClass('pcAcceptButton', 'acceptButtonStyleClass')"
        [ariaLabel]="option('acceptButtonProps', 'ariaLabel')"
        [buttonProps]="getAcceptButtonProps()"
        [unstyled]="unstyled()"
        >
        <ng-template #icon>
          @if (acceptIcon() && !_acceptIconTemplate && !acceptIconTemplate()) {
            @if (option('acceptIcon')) {
              <i [class]="option('acceptIcon')" [hBind]="ptm('pcAcceptButton')['icon']"></i>
            }
          }
          <ng-template *ngTemplateOutlet="acceptIconTemplate() || _acceptIconTemplate"></ng-template>
        </ng-template>
      </h-button>
    }
  }
</ng-template>
</h-dialog>
