@theme inline {
  --color-primary: var(--h-primary-color);
  --color-primary-emphasis: var(--h-primary-hover-color);
  --color-primary-emphasis-alt: var(--h-primary-active-color);
  --color-primary-contrast: var(--h-primary-contrast-color);
  --color-primary-50: var(--h-primary-50);
  --color-primary-100: var(--h-primary-100);
  --color-primary-200: var(--h-primary-200);
  --color-primary-300: var(--h-primary-300);
  --color-primary-400: var(--h-primary-400);
  --color-primary-500: var(--h-primary-500);
  --color-primary-600: var(--h-primary-600);
  --color-primary-700: var(--h-primary-700);
  --color-primary-800: var(--h-primary-800);
  --color-primary-900: var(--h-primary-900);
  --color-primary-950: var(--h-primary-950);
  --color-surface-0: var(--h-surface-0);
  --color-surface-50: var(--h-surface-50);
  --color-surface-100: var(--h-surface-100);
  --color-surface-200: var(--h-surface-200);
  --color-surface-300: var(--h-surface-300);
  --color-surface-400: var(--h-surface-400);
  --color-surface-500: var(--h-surface-500);
  --color-surface-600: var(--h-surface-600);
  --color-surface-700: var(--h-surface-700);
  --color-surface-800: var(--h-surface-800);
  --color-surface-900: var(--h-surface-900);
  --color-surface-950: var(--h-surface-950);
}
