<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <helix-stat-card label="Orders" [value]="152" icon="pi pi-shopping-cart" severity="info" [trend]="24" trendUnit="" trendLabel="new since last visit" />
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <helix-stat-card label="Revenue" [value]="2100" [format]="{ style: 'currency', currency: 'USD', maximumFractionDigits: 0 }" icon="pi pi-dollar" severity="warn" [trend]="52" trendLabel="since last week" />
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <helix-stat-card label="Customers" [value]="28441" icon="pi pi-users" severity="success" [trend]="520" trendUnit="" trendLabel="newly registered" />
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
  <helix-stat-card label="Comments" value="152 unread" icon="pi pi-comment" [trend]="-12" trendLabel="responded, down from last week" />
</div>
